<div>
    <div>
        <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i> Back</a>
    </div>

    <div class="col-md-6">
        <h2>{{ vm.categoryName }}</h2>
        <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

        <form novalidate name="newStopForm" ng-submit="vm.addCategory()">
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" id="arrival" name="arrival"
                       ng-model="vm.newStop.arrival"
                       required />
                <span class="text-danger" ng-show="newStopForm.arrival.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.arrival.$error.pattern">Must be in format of MM/DD/YYYY.</span>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" id="name" name="name" ng-model="vm.newStop.name" required ng-minlength="5" />
                <span class="text-danger" ng-show="newStopForm.name.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.name.$error.minlength">Must be 5 characters or more</span>
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success" ng-disabled="newStopForm.$invalid" />
            </div>
        </form>


<!-- DISPLAY TODOITEMS FOR CATEGORY -->
        <table class="table table-responsive table-striped">
            <tr>
                <th>Name</th>
                <th>Added Date</th>
                <th>Finish Date</th>
                <th>Executor</th>
                <th>Creator</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="todoItem in vm.todoItems">
                <td>{{ todoItem.Name }}</td>
                <td>{{ todoItem.DateAdded | date:shortDate }}</td>
                <td>{{ todoItem.DateFinish | date:shortDate }}</td>
                <td>{{ todoItem.WhoDoIt }}</td>
                <td>{{ todoItem.Creator }}</td>
                <td>{{ todoItem.Done }}</td>
            </tr>
        </table>
<!-- **END** DISPLAY TODOITEMS FOR CATEGORY **END** -->

    </div>

    <div class="col-md-6">
    </div>
</div>