<div class="col-md-6 col-md-offset-3">

    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

    <!-- FORM TO EDIT CATEGORY -->
    <form name="editCategoryForm" ng-submit="vm.editCategoryClick()">
        <div class="form-group">
            <label for="name">Category Name:</label>
            <input type="text" name="name" id="name" ng-model="vm.categoryName" required ng-minlength="2"/>
            <br />
            <span class="text-danger" ng-show="editCategoryForm.name.$error.required">Write category name in the form</span>
            <span class="text-danger" ng-show="editCategoryForm.name.$error.minlength">Name must be at least two character.</span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save category" class="btn btn-success" ng-disabled="editCategoryForm.$invalid" />
        </div>
    </form>
    <!--**END** FORM TO EDIT CATEGORY **END**-->

    <div>
        <p>People related with the category:</p>
        <div>
            <ul ng-repeat="user in vm.usersListForCategory">
                <li>
                    <div class="text-info">
                        {{user.userName}}
                        <a class="btn btn-xs" ng-click="vm.deletePersonFromCategory(user.id, $index)"><i class="fa fa-remove"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- ADD NEW PEOPLE TO CATEGORY -->
    <div>
        <div class="dropdown">
            <select name="userName" ng-model="vm.newPerson">
                <option ng-repeat="userToAdd in vm.users" value="{{ userToAdd.id }}"> {{ userToAdd.userName }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.addPersonToCategory()">Add Person</button>
    </div>
    <!-- **END** ADD NEW PEOPLE TO CATEGORY **END** -->

    <div>
        <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i>Back to list</a>
    </div>
</div>