@{
    ViewBag.Title = "Categories List";
}

@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/categoryController.js"></script>
    <script src="~/js/categoryEditController.js"></script>
    <script src="~/js/toDoItemsController.js"></script>
}

<div class="row" ng-app="tasks_app">
    <div ng-view></div>
</div>