@{
    ViewBag.Title = "Recycle";
}

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app_rec.js"></script>
    <script src="~/js/recycleController.js"></script>
}

<div class="row" ng-app="tasks_app_rec">
    <div ng-view></div>
</div>