@{
    ViewBag.Title = "Categories List";
}

<h1>Come Together</h1>
<p>This will be a usefull website soon!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>
